@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

body {
    font-family: 'Lora', sans-serif;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 0px;
}

header {
    text-align: center;
}

#logo a {
    text-decoration-color: #efd6ac !important;
    text-decoration-thickness: 10px;
    color: #04151f;
}

#logo {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px;
    padding-top: 23vh;
    animation: fadeIn 1000ms ease-in 300ms;
    animation-fill-mode: both;
    transform-origin: 50% 100%;
    margin: auto;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        height: 100%;
        opacity: 1;
    }
}
.btn { 
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    margin-top: 2em;
}
.btn:link,.btn:visited {
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}

.btn:hover {
  	transform: translateY(-3px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  	background-color: #fff;
  	color: rgb(130, 130, 130);
	font-size: 20px;
    border: solid 1pt #efd6ac;
}

#img-box {
    width: 100%;
    display: block;
    align-items: center;
}

.img-series {
    width: 26.5%;
    padding-left: 3%;
    padding-right: 3%;
}

img {
    max-width: 50em;
    max-height: 600px;
}

nav > ul, #themes-list {
    text-align: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: solid 2px #efd6ac;
    border-bottom: solid 2px #efd6ac;
    background-color: #fff;
}
nav > ul > li, #themes-list > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(130, 130, 130)
}
ul > li a:hover {
    color: #183a37
}
.home-section {
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 4em;
    padding-bottom: 3em;
}
section > p , .documentationParagraph p {
    text-align: justify;
    line-height: 1.5em;
    color: #04151f;
}
.border-top {
    border-top: 1pt solid #efd6ac;
}
.beige-bg {
    background-color: #fffdf4;
}
.white-bg {
    background-color: #fff;
}
#backToTop, #resetButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #183a37;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
#backToTop:hover {
    background-color: #04151f;
}



/*documentation */

#documentationSelector ul {
 margin:0;
 padding:0;
 width: 100%
}

#documentationSelector {
  border-bottom: 1px solid #748484;
  border-top: 1px solid #748484;
  position: relative;
  margin: 0px;
}

#documentationSelector ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    width: 15%;
    text-align: center;
    vertical-align: middle;
}
#selector {
  position: relative;
  left: 7.5%;
  top: -1px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #748484;
  transition: transform 0.6s ease;
}

.documentationParagraph {
 display:none;
 padding: 0.5em;
 max-height: 85vh;
 overflow: auto;
}
.active {
 display:block !important;
 animation: background-opacity linear 1s forwards;
}

.image-container {
 width: 100%;
}

#img-container-1 > img, #img-container-2 > img {
 width: 32%;
 display: inline-block;
 object-fit: cover;
 object-position: center;
}
#img-container-8 > img {
 width: 24.5%;
 height: 200px;
 display: inline-block;
 object-fit: cover;
 object-position: center;
}
#img-container-1 > img {
 height: 200px;
}
#img-container-2 > img {
 height: 450px;
}
#img-container-3 > img, #img-container-4 > img, #img-container-6 > img, #img-container-11 > img {
 margin-left: 32%;
 width: 36%;
}
#img-container-5 > img, #img-container-12 > img {
 margin-left: 15%;
 width: 70%;
}
#img-container-7 > img {
 margin-left: 41%;
 width: 18%;
}
#img-container-9 > img, #img-container-10 > img {
 width:49.5%;
 height: 300px;
}

.greater {
 font-size: 1.2em;
 padding-left: 0.5em;
}

/*#issueList {
    background-color: white;
    position: absolute;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#issueList li {
    padding: 5px
}*/
ul li a {
    text-decoration: none;
    color: rgb(130, 130, 130)
}

#themes-list {
    margin-top: -18px!important;
    z-index:101;
    display: none;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px !important;
}

/* metadata viewer */

#metadata-viewer, #article-aside {
   padding: 18px !important;
   background-color: #fffdf4;
   position:fixed;
   left:0;
   width: 250px !important;
   border-right: 1pt solid #efd6ac;
   border-top: 1pt solid #efd6ac;
   top: 0;
   margin:0 0 0 -350px;
   -moz-transition:all 200ms ease-in;
   -webkit-transition:all 200ms ease-in;
   -o-transition:all 200ms ease-in;
   transition:all 200ms ease-in;
   height: 100vh;
   font-family: 'Lora', sans-serif !important;
   font-size: 18px !important;
}

#metadata-viewer {
   z-index: 600;
   overflow: auto;
}

#article-aside {
   z-index: 598;
}

#metadata-viewer > p, #article-aside > p {
   padding-left: 18px !important;
   width: 100% !important;
}

#metadata-viewer > hr, #article-aside > hr {
   color: #efd6ac !important;
   width: 80% !important;
   background-image: none!important;
}

label{
    display:none;
    font-weight:700;
    background-color: #183a37;
    width:55px;
    height: 50px;
    padding-top:5px;
    line-height:45px;
    border-radius: 50%;
    color:#fff !important;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:fixed;
    left:10px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    ;
}

i {
   color:#fff;
}

#firstLabel {
     bottom:20px;
     z-index:601;
}
#secondLabel {
     bottom: 81px;
     z-index: 599;
}

#article-aside-appear[type="checkbox"], #metadata-appear[type="checkbox"] {
    display:none;
}
#metadata-appear[type="checkbox"]:checked ~ #metadata-viewer, #article-aside-appear[type="checkbox"]:checked ~ #article-aside {
    margin:0;
}
#metadata-appear[type="checkbox"]:checked ~ #firstLabel, #article-aside-appear[type="checkbox"]:checked ~ #secondLabel {
    left:260px;
}
input[type="checkbox"]:checked ~ #articleToRead{
    -webkit-transform:translate3d(150px, 0, 0);
    -moz-transform:translate3d(150px, 0, 0);
    -o-transform:translate3d(150px, 0, 0);
    transform:translate3d(150px, 0, 0);
}

.bolder {
    font-weight: 900;
}
#meta-info > ul, #entities > ul, .entities-list > ul {
    font-size: 16px;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 3px;
}

#article-aside > ul {
    font-size: 18px;
    list-style-type: none;
    padding-left: 0.3em;
    padding-bottom: 0;
    padding-right: 3px;
}
#article-aside > ul > li {
    margin-bottom: 10px;
}

.entities-list {
  display: none;
}

.badge {
   display: inline-block;
   list-style-type: none;
   padding-left: 0.3em;
   padding-right: 0.3em;
   margin-left: 0.5em;
   padding-bottom: 0;
   background-color: #f9f9f9;
   border-radius: 5px;
   border: 1px #d3d3d3 solid;
   color: #333 !important;
}
.badge:hover, .activeBadge  {
   background-color: #e0e0e0
}
	   
.place-bg {
    background-color: #90EE90;
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.culture-bg {
    background-color: #63e5ff;
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.domain-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #DADADA;
}

.literature-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #ffea00;
}

.language-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #ff9933;
}

.rituals-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #cb3552;
}

.event-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #c2f3a4;
}
.epithet-bg {
    opacity:0;
    animation-name: background-opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #da8ee7 
}

@keyframes background-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* select article */
.image-container > div {
  width: 33%;
  display: inline-block;
  margin-bottom: 2.5em;
}

#row-1, #row-2 {
 margin-top: 20px;
}

.image-container > div > img {
  width: 80%;
  height: 300px;
  margin-left: 10%;
  object-fit: cover;
  border-radius: 5px;
}
.image-container > div > p {
  width: 80%;
  margin-left: 10%;
}

.image-container > div > p > a, #article-aside li, #navLogo, #navLogo > a {
  color: #04151f !important;
  text-decoration: underline;
  text-decoration-color: #efd6ac !important;
  text-decoration-thickness: 2px;
  font-weight: 700;
}

.image-container > div > button {
  width: 32.5%;
  margin-left: 35%;
  border-radius: 5px;
  border: 1px #d3d3d3 solid;
  color: #333;
  padding: 0.5em;
  font-family: 'Lora', sans-serif;
}

.image-container > div > button:hover {
  background-color: #e0e0e0;
}

#selectAnArticle {
  padding-left: 2em;
  padding-top: 1.2em;
  padding-bottom: 0.8em;
}

/*meet the team*/
.container, .row {
   width: 100%;
}

.our-team {
   width: 30%;
   display:inline-block;
}


	

