@font-face{
    font-family: "Brassia-Regular";
    src: url("Brassia-Regular.ttf")
}

@font-face{
    font-family: "CourierPrime-Regular";
    src: url("CourierPrime-Regular.ttf")
}

/* the navbar */
html {
    overflow-x: hidden;
}

nav {
   position: absolute;
   width: 100%;
   left: 0;
   top: -10px;
   z-index:101;
}

#themes-list {
    position: absolute;
    top: 100px;
}

nav > ul, #themes-list {
    font-family: 'Brassia-Regular';
    background-color: #214E34;
    color: #9E90A2;
    padding-top: 0px; 
    padding-bottom: 0px; 
    
}

nav > ul > li, nav a {
    font-family: 'Brassia-Regular';
    color: #D7E8BA; !important;
    font-size: 28px;
}

#themes-list > li, #themes-list a {
    font-family: 'Brassia-Regular';
    color: #D7E8BA !important;
    font-size: 22px;
}

#themes-list {
    background-color: #9E90A2;
    width: 100%;
    left: 0;
	font-family: "Brassia-Regular";
}

.sticky {
    position:fixed !important;
    width: 100% !important;
    top: 0px !important;
    padding-top: 20px !important; 
}


/* the article */


img {
    filter: saturate(5);
}

body {
width: 100%;
background: rgba(115, 138, 127, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(115, 138, 127, 0.51);
} 


h1 {
    color:#000000;
    font-size: 60pt;
    padding-top: 50px;
    left: 50%;
    width: 70%;
    margin: auto;
    font-family: 'Brassia-Regular' !important;
    text-transform: uppercase;
    font-weight: 100;
}

#article {
	font-family: 'CourierPrime-Regular';
    margin-top: 170px !important;
    content: "";
    clear: both;
    display: table;
    background-position: center;
	text-transform: uppercase;
}

#article, #article-inner {
    margin-top: 2.5em;
    margin-bottom: 3em;
    width: 100%;
    -webkit-box-shadow: 3px 5px 19px 4px #333; 
	font-family: 'CourierPrime-Regular';
}

.header {
    position: relative;
    text-align: center;
}

.header-img {
    width:35em;
    height: 35em;
    object-fit:cover;
}
#article figcaption {
    width: 70%;
}

.subtitle {
    top: 13%;
    left: 50%;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    font-size: 15pt;
    text-align: center;
    padding: 10px;
    color: #656770;
}
.author {
    font-family: 'CourierPrime-Regular';
    color: #656770;
    text-align: center;
    font-size: 36pt;
}
.publicationDate {
    font-family: 'CourierPrime-Regular';
    font-size: 15pt;
    color: #656770;
    text-align: center;
}

#article-inner {
    padding-top: 3em;
    padding-bottom: 6em;
    content: "";
    clear: both;
    display: table;
}


#article-inner img {
    border: 
}

#article-inner > p, #article-inner > a, #article-inner > div > p  {
    display: block;
    margin-top: 1em;
    text-align: justify;
    padding-left: 5em;
    padding-right: 5em;
    width: calc(100% - 10em);
	font-family: 'CourierPrime-Regular';
    font-size: 14pt;
    color: #656770;
}

.pubnote {
    font-size: 18pt !important;
    font-family: 'CourierPrime-Regular';
    color: #656770;
    width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    margin-top: 1.5em;
}

h2 {
    padding-top: 2em;
    font-size: 48pt;
    font-family: 'Brassia-regular';
    text-align: center;
    color: #000000;
}
#article-inner > hr {
    display: block;
    border:0px;
    height:100px;
    width: 100px;
}
#article-inner > hr + p::first-letter, #article-inner hr + h3 + p::first-letter {
    font-size: 6.2em;
    float: left;
    line-height: 0.7;
    color: #000000;
}
.full-width {
    max-width: 700px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}
figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    content: "";
    clear: both;
    display: table;
}

figcaption {
    color: #95A472;
    display: block;
    margin: auto;
    background-color: #B47EB3;
    text-align: center;
    font-size: 12pt;
    line-height: 1em;
    width: 80%;
    padding: 0.6em;
}

#article-inner > div {
    display: block;
    margin-top: 2em;
    border: solid #00000;
    border-color: #00000;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3em;
}

h3 {
    font-family: 'Brassia-regular';
    text-align: center;
    font-size: 36pt;
    text-shadow:0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
}

h4 {
    font-family: 'Brassia-regular';
    text-align: center;
    font-size: 24pt;
    text-shadow:2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
}

#article-inner ul {
    margin-left: 5em;
    margin-right: 5em;
}

blockquote {
    -moz-column-span:all;
    -webkit-column-span:all;
    column-span:all;
    font-family: "Courier Prime-Regular";
    font-size:32px;
    font-weight:normal;
    padding:15px 0;
}

.double-picture {
    border: none!important;
    display: table !important;
    width: 60em;
    margin: auto;
    margin-top: 1em!important;
    clear: both;
    content: ""
}

.double-picture .left{
    float: left !important;
    margin-bottom: -30px !important;
    margin-left: 20px;
}

.double-picture .right img{
    float: right !important;
    margin-top: -30px !important;
    margin-right: 20px !important
}

.double-picture figure img{
    width: 50%;
    float: left!important;
    max-height: 400px;
    object-fit: cover;
}

.double-picture figcaption {
    width: 40% !important;
    padding: 0!important;
}

.double-picture .left figcaption {
    margin-top: 250px !important;
    float: left !important;
}

.double-picture .right figcaption {
    margin-top: 80px!important;
    float: right !important;
}

table {
    padding: 4%;
    width: 140px;
    margin-left: 340px;
    font-size: 14pt;
}

th, td {
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    text-align: center;
    border: 2px solid #333;
    padding: 0.3em;
}

td {
    margin: 0;
}

th, th + tr {
    border-top: none!important;
}

td:first-child {
    border-left: none !important;
}

td:last-child {
    border-right: none!important;
}

tr:last-child > td {
    border-bottom: none!important;
}


.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;

}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  background-repeat: repeat !important;
}
.crt {
  animation: textShadow 1.6s infinite;
}


@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
	65% {
    opacity: 0.71988;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
	}
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}

input[type="checkbox"]:checked html > body{
    -webkit-transform:translate3d(150px, 0, 0);
    -moz-transform:translate3d(150px, 0, 0);
    -o-transform:translate3d(150px, 0, 0);
    transform:translate3d(150px, 0, 0);
}
